config_xml/db_config/schema-config.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Developer Edition 9.0.11.3078 (http://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="config">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="property" type="Property" />
                <xs:element name="property" type="Property" />
                <xs:element name="property" type="Property" />
                <xs:element name="property" type="Property" />
                <xs:element name="property" type="Property" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="Property">
        <xs:attribute name="name" type="xs:string" />
        <xs:attribute name="value" type="xs:string" />
    </xs:complexType>
</xs:schema>
